.prohe {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(93, 68, 167, 1);
}


.addproddd {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* margin-top: -160px; */
  flex-direction: column;
  margin-top: -70px;
}

.addproductsection {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 400px;
  /* margin-left: 400px; */
}

h4.Sellitem-Placeholder {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  /* margin-bottom: 10px; */
}

.selliteminput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.selliteminputdropdown{
  width: 420px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}


.selliteminputimage{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  width: 200px;
}

.selsum {
  display: flex;
  /* justify-content: flex-end; */
  /* margin-top: 30px; */
  margin: auto;
  /* margin-left: 10px; */
 
  /* margin-top: 600px; */
}

.Nxtbutton {
  display: inline-flex;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.Nxtbutton span {
  margin-right: 5px;
}

.Nxtbutton svg {
  fill: #fff;
  width: 16px;
  height: 16px;
}

.alirest {
  display: flex;
  flex-direction: column;
}

.presum {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.Prebutton {
  display: inline-flex;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.Prebutton span {
  margin-left: 5px;
}

.Prebutton svg {
  fill: #fff;
  width: 16px;
  height: 16px;
}

.subbbbu {
  /* text-align: right; */
  margin: auto;
}

.sub-button {
  display: inline-flex;
  align-items: center;
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.sub-button svg {
  fill: #fff;
  width: 16px;
  height: 16px;
}

.sub-button span {
  margin-left: 5px;
}


.addproddduct{
  display: flex;
  margin: auto;
  width: 200px;
  height: 200px;
}


.addproductsections{
  border-radius: 10px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
}