.Wishlist {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  
  .Wishlist1 {
    width: 400px;
  
    height: 500px;
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); */
    border-radius: 8px;
    margin-top: -100px;
    /* margin: auto; */
  }
  .Wishcard {
    width: 95%;
    height: 110px;
    border: 1px solid #b6b5b5;
    margin: auto;
  }
  .wishimg {
    width: 150px;
    height: auto;
  }
  
  .Wishcard1 {
    display: flex;
    flex-direction: row;
  }
  .Wishtext {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  
  .wishtext2 {
    margin-top: 0px;
  }
  
  .wishtext1 {
    color: rgb(24, 24, 90);
  }
  
  .wishtext3 {
    margin-left: 80px;
    color: red;
    font-weight: bold;
    margin-bottom: 50px;
  }
  .WishTEXT {
    display: flex;
    flex-direction: column;
  }
  .wishrembut {
    width: 70px;
    margin-left: 85px;
    margin-top: -30px;
    cursor: pointer;
  }
  